/* FONT STYLES */
b,
strong {
  font-weight: $bold;
}

a {
  text-decoration: none;
}

/* CUSTOM FONT SIZE */
@each $key, $val in $theme_font_sizes {
  @if ($key == 'default') {
    .text,
    span,
    p {
      font-size: $val;
      margin: 0;
    }
  } @else {
    $s: $val * 0.8;
    $s_big: $s * 1.2;
    $s_small: $s * 0.8;
    .h#{$key},
    .fs-#{$key} {
      font-size: $s !important;
      margin: 0;
      &.big {
        font-size: $s_big !important;
      }
      &.small {
        font-size: $s_small !important;
      }
      &.stroke {
        -webkit-text-stroke-width: $text_stroke_width_base;
        -webkit-text-stroke-color: $stroke_color;
        font-weight: $bold;
      }
      &.styled {
        font-family: $font_styled;
      }
    }
    .h#{$key}-styled {
      font-size: $s;
      font-family: $font_styled;
      font-weight: $bold;
      margin: 0;
      letter-spacing: $letter_spacing_base * 1.4;
      -webkit-text-stroke-width: $text_stroke_width_base;
      -webkit-text-stroke-color: $stroke_color;
      &.big {
        font-size: $s_big;
      }
      &.small {
        font-size: $s_small;
      }
    }
    @include sm {
      $s: $val * 0.85;
      $s_big: $s * 1.2;
      $s_small: $s * 0.8;
      .h#{$key},
      .fs-#{$key},
      .h#{$key}-styled {
        font-size: $s;
        &.big {
          font-size: $s_big;
        }
        &.small {
          font-size: $s_small;
        }
      }
    }
    @include md {
      $s: $val * 0.9;
      $s_big: $s * 1.2;
      $s_small: $s * 0.8;
      .h#{$key},
      .fs-#{$key},
      .h#{$key}-styled {
        font-size: $s;
        &.big {
          font-size: $s_big;
        }
        &.small {
          font-size: $s_small;
        }
      }
    }
    @include lg {
      $s: $val * 1;
      $s_big: $s * 1.2;
      $s_small: $s * 0.8;
      .h#{$key},
      .fs-#{$key},
      .h#{$key}-styled {
        font-size: $s;
        &.big {
          font-size: $s_big;
        }
        &.small {
          font-size: $s_small;
        }
      }
    }
  }
}

/* CUSTOM LETTER SPACING */
@each $key, $val in $theme_letter_spacing {
  .ls-#{$key} {
    letter-spacing: $val;
  }
}

/* CUSTOM FONT WEIGHT */
@each $key, $val in $theme_font_weight {
  .#{$key} {
    font-weight: $val;
  }
}
