@mixin xs {
  @media (min-width: map-get($grid_breakpoints, 'xs')) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($grid_breakpoints, 'sm')) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($grid_breakpoints, 'md')) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($grid_breakpoints, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($grid_breakpoints, 'xl')) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: map-get($grid_breakpoints, 'xxl')) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

.responsive-test {
  @include xs {
    color: red;
  }
  @include sm {
    color: blue;
  }
  @include md {
    color: green;
  }
  @include lg {
    color: purple;
  }
  @include xl {
    color: #ffa500;
  }
  @include breakpoint(1400px) {
    color: pink;
  }
}
